section {
    min-height: 80vh;
}

h2 {
    text-align: center;
}

.notes--div {
    width: 100%;
}

.notes--list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.notes--list__item {
    position: relative;
    width: 29%;
    height: 30vh;
    margin: 1%;
    background-color: #6e6c6c;
    border: 1px solid rgba(155, 153, 153, 0.575);
    list-style: none;
    border-radius: 10px;
    text-align: center;
}

.notes--list__item h3:first-of-type {
    font-size: 1.5rem;
    color: white;
    text-shadow: 6px -1px 11px #000000;
}

.notes--list__item p {
    font-size: 1.3rem;
    width: 100%;
    margin-bottom: 5%;
    text-overflow: clip;
    word-wrap: break-word;
    position: relative;
}

.notes--list__item h3:last-of-type {
    position: absolute;
    right: 5%;
    bottom: 0;
    text-decoration: underline;
    color: rgb(13, 13, 122);
}

.notes--list__item select {
    position: absolute;
    bottom: 8%;
    left: 2%;
    border-radius: 10px;
    padding: 1%;
}

.form--modal {
    display: flex;
    flex-direction: column;
    background-color: #6e6c6c;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 30%;
    position: relative;
    left: -20%;
    border-radius: 10px;
}

label {
    margin-top: 15%;
}

.form--modal button {
    width: 50%;
    margin-left: 25%;
    padding: 3%;
    margin-top: 4%;
}

.delete--modal {
    width: 100%;
    height: 100%;
    padding: 20% 40%;
    background-color: #6e6c6c;
    border-radius: 10px;
    text-align: center;
    color: whitesmoke;
    position: relative;
    left: -20%;
}

.delete--modal button:first-of-type {
    margin-right: 5%;
}

.delete--modal button {
    padding: 3%;
}

@media screen and (max-width: 1024px) {

    .notes--list__item {
        width: 35%;
        min-height: 50vh;
    }
}

@media screen and (max-width: 768px) {
    .notes--list__item {
        width: 40%;
        min-height: 45vh;
    }

    .notes--list__item h3:last-of-type {
        bottom: -5%;
    }

    .notes--list__item select {
        bottom: 20%;
        left: 25%;
        margin-top: 5%;
    }

    .notes--list__item select {
        padding: 2%;
    }
}

@media screen and (max-width: 425px) {

    .notes--list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .notes--list__item {
        width: 90%;
        min-height: 40vh;
    }

    .notes--list__item select {
        bottom: 20%;
        left: 30%;
    }

}

@media screen and (max-width: 320px) {

    .notes--list__item h3:last-of-type {
        bottom: -7%;
    }

    .notes--list__item select {
        bottom: 20%;
        left: 23%;
    }

}
